@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -25%;
        width: 36px;
        height: 36px;
        z-index: -1;
        border-radius: 100%;
        background-color: $main-color;
    }
}

@mixin before_circle_menu {
    &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: 15px;
        top: 4px;
        border-radius: 100%;
        background-color: #fff;
    }
}