@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/summary';
@import 'blocks/education';
@import 'blocks/skills';
@import 'blocks/languages';
@import 'blocks/jobs';
@import 'blocks/hobbies';
@import 'blocks/contacts';
@import 'blocks/media';

*,
p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.dividing-line {
    width: 60px;
    margin-bottom: 20px;
    border-top: 3px solid $main-color;
}