.education {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    &__subtitle {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
    }
    .dividing-line {
        margin: 20px auto 60px;
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 425px);
        padding: 0 65px;
        gap: 130px;
    }
    .education-descr {
        &__title {
            position: relative;
            padding-left: 35px;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            &:before {
                content: "";
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
            }
        }
        &__list {
            list-style-type: none;
        }
        &__item {
            position: relative;
            padding-left: 100px;
            padding-top: 45px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 68px;
                height: 1px;
                width: 50px;
                background-color: #000;
            }
            &:after {
                content: "";
                position: absolute;
                width: 1px;
                height: calc(100% + 16px);
                top: -16px;
                left: 0;
                background-color: #000;
            }
        }
        &__icon {
            position: absolute;
            top: 65px;
            left: 70px;
            @include before_circle;
            &:before {
                top: -15px;
                left: -20px;
            }
        }
        &__subtitle {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
        }
        &__text {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}