.languages {
    padding-top: 70px;
    &__subtitle {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
    }
    .dividing-line {
        margin: 20px auto 50px;
    }
    &__list {
        display: grid;
        grid-template: repeat(1, minmax(70px, auto)) / repeat(2, 350px);
        justify-content: space-around;
        list-style-type: none;
    }
    &__item {
        display: grid;
        justify-content: space-between;
        align-content: space-between;
        &_subtitle {
            position: relative;
            padding: 2px 0 0 13px;
            @include before_circle;
        }
        &_value {
            text-align: end;
            font-size: 14px;
            line-height: 21px;
        }
        &_line {
            width: 350px;
            height: 14px;
            background-color: #e8e4de9a;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
}