@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .summary__photo {
        max-width: 380px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo__title {
        font-size: 36px;
        max-width: 300px;
        line-height: 39px;
    }
    .summary {
        padding-top: 60px;
        &__photo {
            max-width: 320px;
        }
        &__title {
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 640px) {
    .summary {
        padding-top: 40px;
        .container {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            max-width: 400px;
        }
        &__subtitle {
            text-align: center;
            padding: 0 0 10px;
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url(../../img/start_bg.jpg) no-repeat 45%/cover                                                     ;
        &__title {
        font-size: 26px;
        }
    }
    .promo__link {
        margin-top: 32px;
    }
    .summary__title {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .promo__subtitle {
        max-width: 250px;
    }
    .summary {
        .container {
            max-width: 350px;
        }
        &__photo {
            width: 100%;
        }
    }
}