@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0 15px;
    }
    .education {
        &__info {
            gap: 90px;
        }
    }
    .skills__list {
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: repeat(3, 270px);
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    .education {
        &__info {
            gap: 10px;
        }
    }
}

@media screen and (max-width: 1020px) {
    .skills__list {
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: repeat(3, 270px);
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .summary__photo {
        max-width: 380px;
    }
    .education__info {
        padding: 0 10px;
    }
}

@media screen and (max-width: 900px) {
    .education {
        &__info {
            grid-template-columns: minmax(250px, 600px);
            gap: 10px;
        }
    }
    .skills__list {
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(4, 270px);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo__title {
        font-size: 36px;
        max-width: 300px;
        line-height: 39px;
    }
    .summary {
        padding-top: 60px;
        &__photo {
            max-width: 320px;
        }
        &__title {
            font-size: 36px;
        }
    }
    .education {
        &__title {
            font-size: 36px;
        }
        &__info {
            padding: 0 35px;
        }
        .dividing-line {
            margin: 20px auto 40px;;
        }
    }
    .skills {
        .dividing-line {
            margin: 20px auto 40px;;
        }
    }
    .languages {
        &__list {
            grid-template: repeat(2,minmax(70px,auto)) / minmax(200px, 350px);
            gap: 35px;
        }
    }
}

@media screen and (max-width: 640px) {
    .summary {
        padding-top: 40px;
        .container {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            max-width: 400px;
        }
        &__subtitle {
            text-align: center;
            padding: 0 0 10px;
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .dividing-line {
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            text-align: center;
        }
    }
}

@media screen and (max-width: 590px) {
    .skills__list {
        grid-template-columns: repeat(1, 270px);
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url(../../img/start_bg.jpg) no-repeat 45%/cover                                                     ;
        &__title {
        font-size: 26px;
        }
    }
    .promo__link {
        margin-top: 32px;
    }
    .summary__title {
        font-size: 26px;
    }
    .education__title {
        font-size: 26px;
    }
    .skills__title {
        font-size: 26px;
    }
    .languages__title {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .promo__subtitle {
        max-width: 250px;
    }
    .summary {
        .container {
            max-width: 350px;
        }
        &__photo {
            width: 100%;
        }
        .dividing-line {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .education {
        &__info {
            padding: 0 15px;
        }
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
    .education-descr__title {
        font-size: 16px;
    }
    .skills {
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
    .languages {
        padding-top: 40px;
        &__item_line {
            max-width: 94vw;
        }
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
}