@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0 15px;
    }
    .education {
        &__info {
            gap: 90px;
        }
    }
    .skills__list {
        grid-template-columns: repeat(auto-fit, 270px);
        justify-content: center;
    }
    .hobbies__list {
        grid-template: repeat(3, 80px) / repeat(2, 300px);
    }
    .jobs {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            .horizonal,
            .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
        &__item {
            img {
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .education {
        &__info {
            gap: 10px;
        }
    }
}

@media screen and (max-width: 1030px) {
    .contacts {
        &__subtitle {
            text-align: center;
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__title {
            text-align: center;
        }
        .dividing-line {
            margin-left: auto;
            margin-right: auto;
        }
        &__photo {
         display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .summary__photo {
        max-width: 380px;
    }
    .education__info {
        padding: 0 10px;
    }
    .hobbies__list {
        grid-template: repeat(3, 80px) / repeat(2, 250px);
    }
}

@media screen and (max-width: 900px) {
    .education {
        &__info {
            grid-template-columns: minmax(250px, 600px);
            gap: 10px;
        }
    }
    .hobbies__list {
        grid-template-columns: 550px;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo__title {
        font-size: 36px;
        max-width: 300px;
        line-height: 39px;
    }
    .summary {
        padding-top: 60px;
        &__photo {
            max-width: 320px;
        }
        &__title {
            font-size: 36px;
        }
    }
    .education {
        &__title {
            font-size: 36px;
        }
        &__info {
            padding: 0 35px;
        }
        .dividing-line {
            margin: 20px auto 40px;;
        }
    }
    .skills {
        .dividing-line {
            margin: 20px auto 40px;;
        }
    }
    .languages {
        &__list {
            grid-template: repeat(2,minmax(70px,auto)) / minmax(200px, 350px);
            gap: 35px;
        }
    }
    .hobbies__list {
        grid-template-columns: 450px;
    }
}

@media screen and (max-width: 640px) {
    .summary {
        padding-top: 40px;
        .container {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            max-width: 400px;
        }
        &__subtitle {
            text-align: center;
            padding: 0 0 10px;
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .dividing-line {
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            text-align: center;
        }
    }
    .hobbies__list {
        grid-template-columns: 350px;
    }
    .contacts {
        &__form {
            grid-template: 45px minmax(143px, 190px) 45px / repeat(2, minmax(150px, 300px));
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url(../../img/start_bg.jpg) no-repeat 45%/cover                                                     ;
        &__title {
        font-size: 26px;
        }
    }
    .promo__link {
        margin-top: 32px;
    }
    .summary__title,
    .education__title,
    .skills__title,
    .languages__title,
    .jobs__title,
    .hobbies__title,
    .contacts__title {
        font-size: 26px;
    }
}

@media screen and (max-width: 500px) {
    .hobbies__list {
        grid-template-columns: 290px;
    }
}
@media screen and (max-width: 480px) {
    .promo__subtitle {
        max-width: 250px;
    }
    .summary {
        .container {
            max-width: 350px;
        }
        &__photo {
            width: 100%;
        }
        .dividing-line {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .education {
        &__info {
            padding: 0 15px;
        }
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
    .education-descr__title {
        font-size: 16px;
    }
    .skills {
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
    .languages {
        padding-top: 40px;
        &__item_line {
            max-width: 94vw;
        }
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
    .jobs,
    .hobbies {
        &__subtitle {
            font-size: 14px;
        }
        .dividing-line {
            margin: 10px auto 20px;
        }
    }
    .contacts {
        &__subtitle {
            font-size: 14px;
        }
        &__form {
            display: flex;
            flex-direction: column;
        }
        &__input {
            height: 45px;
        }
        &__textarea {
            height: 143px;
        }
        &__triggers {
            grid-template-columns: auto;
            gap: 15px;
        }
    }
}

@media screen and (max-width: 440px) {
    .hobbies__list {
        grid-template-columns: 170px;
    }
}