.summary {
    padding-top: 85px;
    .container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__photo {
        display: inline-block;
        max-width: 400px;
        max-height: 450px;
    }
    &__info {
        max-width: 570px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    &__subtitle {
        position: relative;
        padding: 5px 0 10px 15px;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        @include before_circle;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 500;
    }
}